.modal > .close {
    margin-top: 500px;
    cursor: grabbing;
    width: 50px;
    font-size: 40px;
    border-radius: 18px #808080;
}

a {
    color: #808080;
    text-decoration: none;
    margin-left: 900px;
}

.close{
    margin-top: 200px;
}

.popup-overlay {
    background: #fafbfc;
    background: rgba(0, 0, 0, 0.72);
}

.openedPost {
    width: 950px;
    height: 580px;
}
