.btn {
    background: #010101;
    opacity: 0.6;
    font-size: 12px;
    color: white;
    font-family: Poppins;
    font-style: normal;
    position: absolute;
    width: 148px;
    height: 20px;
    margin-top: 140px;
    transform: translate(-100%, -50%); 
    border-radius: 5px;
}


